/* CSS HEX */
$prussian_blue: rgb(23, 43, 58);
$eggshell: #f1e9dbff;
$green_blue_crayola: #0987caff;
$grullo: #a39b8bff;
$puce: #b77bce;

/* CSS HEX */
$white: #ffffffff;
$international_orange_engineering: #e6871b;
